#education {
  position: relative;
  padding-bottom: 2rem; 
}

.intro-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  flex-direction: column; 

}

.title{
  margin-top: 1rem;
}

.intro-pic {
  flex: 1;
}

.intro-pic img {
  width: 100%;
  border-radius: 15px;
}

.intro-title {
  font-family: 'Audiowide', sans-serif;
  color: #f5a623;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  background: linear-gradient(90deg, #f5a623, #ff8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 0 0 5px rgba(245, 166, 35, 0.7);
}

.degree-container{
  margin-bottom: 5rem;
}

.degree-container, .certification-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.education-duration {
  font-family: 'Audiowide', sans-serif;
  color: #f5a623;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.degree-card, .certification-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 2px solid #f5a623;
  padding: 1.5rem;
  width: 90%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.degree-card:hover, .certification-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.degree-title, .certification-title {
  font-family: 'Audiowide', sans-serif;
  text-align: center;
  color: #ff4500;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.school-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.school-title {
  font-family: 'Audiowide', sans-serif;
  color: #f5a623;
  font-size: 1.50rem;
}

button {
  font-family: 'Audiowide', sans-serif;
  background: none;
  border: 2px solid #ff4500;
  color: #ff4500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: 0 0 5px rgba(255, 69, 0, 0.7);
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
}

button:hover {
  background-color: #ff4500;
  color: #1a1a2e;
}

@media screen and (max-width: 768px) {
  .text{
    margin: 0;
  }

  .intro-container {
    flex-direction: column; 
    margin-bottom: 2rem; 
    display: flex;
    text-align: center;
  }

  .intro-pic{
    flex: 1;
    margin: 0; 
    width: 350px;
  }
  
  .title{
    margin-top: 0;
  }

  .intro-title {
    font-size: 1.25rem; 
  }

  .degree-container, .certification-container {
    flex-direction: column;
    gap: 1rem;
  }

  .degree-card, .certification-card {
    width: 100%;
    padding: 1rem;
  }

  .degree-title, .certification-title {
    font-size: 1.1rem; 
  }

  .school-title {
    font-size: 1.5rem; 
  }

  button {
    padding: 0.4rem 0.8rem; 
    font-size: 0.9rem; 
  }
}