@media screen and (max-width: 1400px) {
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience {
    margin-top: 17vh;
  }

  section,
  .contact-container{
    height: fit-content;
  }

  section {
    margin: 0 5%;
    margin-top: 17vh;
  }
}

@media screen and (max-width: 768px) {
  .contact-container{
    flex-wrap: wrap;
  }

  .contact-text,
  .nav-links li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  
  .contact-image img,
  .intro-pic img {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 2rem;
  }

  .intro-text {
    text-align: center; 
    flex: 2;
    margin-left: 2rem;
  }

  .services-list {
    font-size: 0.9rem;
  }

  footer {
    height: auto; 
    margin-bottom: 2rem; 
  }
}