<<<<<<< HEAD
#projects {
  position: relative;
}

.text{
  margin-bottom: 4rem;
}

.color-container {
  border: 2px solid #f5a623; 
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem; 
  border-radius: 10px;
  padding: 1rem;
  width: 100%; 
  max-width: 1000px; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: transform 0.3s, box-shadow 0.3s;
  align-items: center;
}

.color-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.project-img-container {
  text-align: center;
}

.project-img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  max-height: 500px;
  max-width: 600px;
}

.project-title {
  margin: 1rem;
  color: #FF4500;
  font-family: 'Audiowide', sans-serif;
  text-shadow: 0 0 5px rgba(255, 69, 0, 0.7);
}

.project-btn {
  text-decoration: none;
  color: #FF4500; 
  background: none; 
  border: 2px solid #FF4500; 
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Audiowide', sans-serif;
  margin: 1rem 0;
  display: inline-block; 
  text-shadow: 0 0 5px rgba(255, 69, 0, 0.7);
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
}

.project-btn:hover {
  background-color: #FF4500; 
  color: #1a1a2e;
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.project-item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.special-note {
  padding: 1rem;
  border: 2px solid #f5a623;  
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  color: #f5a623; 
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px rgba(245, 166, 35, 0.7);
  backdrop-filter: blur(10px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.special-note:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  display: none; 
}

.carousel-item.active {
  display: block; 
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #f5a623;
  text-shadow: 0 0 5px rgba(245, 166, 35, 0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


@media screen and (max-width: 768px) {
  .special-note {
    font-size: 1rem; 
  }
=======
#projects {
  position: relative;
}

.text{
  margin-bottom: 4rem;
}

.color-container {
  border: 2px solid #f5a623; 
  background: rgba(255, 255, 255, 0.1);
  margin-bottom: 2rem; 
  border-radius: 10px;
  padding: 1rem;
  width: 100%; 
  max-width: 1000px; 
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  transition: transform 0.3s, box-shadow 0.3s;
  align-items: center;
}

.color-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.project-img-container {
  text-align: center;
}

.project-img {
  border-radius: 2rem;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  max-height: 500px;
  max-width: 600px;
}

.project-title {
  margin: 1rem;
  color: #FF4500;
  font-family: 'Audiowide', sans-serif;
  text-shadow: 0 0 5px rgba(255, 69, 0, 0.7);
}

.project-btn {
  text-decoration: none;
  color: #FF4500; 
  background: none; 
  border: 2px solid #FF4500; 
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Audiowide', sans-serif;
  margin: 1rem 0;
  display: inline-block; 
  text-shadow: 0 0 5px rgba(255, 69, 0, 0.7);
  box-shadow: 0 0 10px rgba(255, 69, 0, 0.8);
}

.project-btn:hover {
  background-color: #FF4500; 
  color: #1a1a2e;
  cursor: pointer;
}

.projects-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.project-item {
  display: flex;
  flex-direction: column; 
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.special-note {
  padding: 1rem;
  border: 2px solid #f5a623;  
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  color: #f5a623; 
  font-family: 'Audiowide', sans-serif;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 5px rgba(245, 166, 35, 0.7);
  backdrop-filter: blur(10px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.special-note:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  display: none; 
}

.carousel-item.active {
  display: block; 
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
  color: #f5a623;
  text-shadow: 0 0 5px rgba(245, 166, 35, 0.7);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


@media screen and (max-width: 768px) {
  .special-note {
    font-size: 1rem; 
  }
>>>>>>> 8d13cd2512633ac71db98e1af1cf1fa1e4f5f92f
}